
azul=#636363;
gris=#EFEFFB;
fondo=#EFFBF8;

.container
	border-bottom: solid 1px;
	background-color: azul;
.user
	padding-top: 5px;
.inicio_sesion
	padding-top: 5px;
	color white;
.registro
	color white;
.titulo
	border-top: 2px
.seccion2{
	padding-top 10px;
 } 
.menu
	margin-left:518px;
#cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding-top: 5px;
  
  width: 12em;
}
#cssmenu li {
  font: 80% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

#cssmenu2 {
  background: #333;
  list-style: none;
  margin-right 5px;
  padding-top: 5px;
  
  width: 12em;
}
#cssmenu2 li {
  font: 80% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu2 a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu2 a:hover {
  background: #2580a2 url("images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
.centros
	padding-top 50px
.titulo
	padding-top: 20px;
.datos
	adding-top: 20px;
.seccion3
	padding: 10px;
 .menudes {
position: relative;
overflow: hidden;
width: 80%;
margin: 10px auto 10px;
border-radius: 8px;
background: azul;
text-align:center;
}
.menudes a {
display: inline-block;
width: 10%; /* 100% dividido por el número de elementos del menú */
box-sizing: border-box;
padding: 10px 5px;
color: #fff;
text-decoration: none;
}
.marca {
position: absolute;
bottom: 4px;
left: -12.5%; /* Al menos 1/2 del ancho de cada enlace */
width: 12.5%; /* 1/2 del ancho de cada enlace */
height: 4px;
background: #fff;
transition: 0.5s ease-in-out; 
}
.menudes a:nth-child(1):hover ~ .marca {
left: 6.25%; /* 1/4 Ancho del enlace */
}
.menudes a:nth-child(2):hover ~ .marca {
left: 31.25%; /* 1/4 Ancho del enlace + 1 vez ancho enlace */
}
.menudes a:nth-child(3):hover ~ .marca {
left: 56.25%; /* 1/4 Ancho del enlace + 2 veces ancho enlace */
}
.menudes a:nth-child(4):hover ~ .marca {
left: 81.5%; /* 1/4 Ancho del enlace + 3 veces ancho enlace */
} 
.descripcion{
  border solid 1px
  text-align justify
}
.footer{
  background-color azul
  padding-top 10px
  .play{
    color white
   float right
   padding-right 50px
  }
  .hote{
    color white
    float right
    padding-right 20px
  }
}
.descripcionDep{
  border solid 1px
  background-color azul
  color white
}
.nombreMuni{
  float left
}
.panelDerecho{
  border solid 2px
  width 240px
  height 490px
  color white
  background-color azul

}
.panelBajo{
  
  width 700px
  height 300px
}
.bajo{
  background-color azul
  height 50px
}
.play2{
  color white
  float right
  padding-right 50px
}
.hote2{
  color white
  float right
  padding-right 25px
}
.register{
  border solid
}
